<template>
  <div class="left_contents">
    <div class="box box1">
      <div class="box_v2_title">
        <img src="~@/assets/v2/ships/基本信息.png" alt="" />
        基本信息
      </div>
      <div class="echart_bjcs">
        <div class="echart_title">{{ topData.name }}</div>
      </div>
      <div class="box_detail">
        <div class="detail_contents">
          <div class="detail_style">MMSI</div>
          <div class="detail_style">呼号</div>
          <div class="detail_style">终端ID</div>
          <div class="detail_style">类型</div>
          <div class="detail_style">船长</div>
          <div class="detail_style">船宽</div>
          <div class="detail_style">总吨</div>
          <div class="detail_style">静重</div>
          <div class="detail_style">载重吨</div>
          <div class="detail_style">吃水</div>
          <div class="detail_style">主机功率</div>
        </div>
        <div class="detail_contentsC">
          <div class="detail_style">{{ topData.a ? topData.a : "--" }}</div>
          <div class="detail_style">{{ topData.b ? topData.b : "--" }}</div>
          <div class="detail_style">{{ topData.c ? topData.c : "--" }}</div>
          <div class="detail_style">{{ topData.d ? topData.d : "--" }}</div>
          <div class="detail_style">{{ topData.e ? topData.e : "--" }}</div>
          <div class="detail_style">{{ topData.f ? topData.f : "--" }}</div>
          <div class="detail_style">{{ topData.g ? topData.g : "--" }}</div>
          <div class="detail_style">{{ topData.h ? topData.h : "--" }}</div>
          <div class="detail_style">{{ topData.i ? topData.i : "--" }}</div>
          <div class="detail_style">{{ topData.j ? topData.j : "--" }}</div>
          <div class="detail_style">{{ topData.k ? topData.k : "--" }}</div>
        </div>
        <div class="detail_contents">
          <div class="detail_style">定位经度</div>
          <div class="detail_style">定位纬度</div>
          <div class="detail_style">定位时间</div>
          <div class="detail_style detail_styleC"></div>
          <div class="detail_style">方位角</div>
          <div class="detail_style">航向</div>
          <div class="detail_style">船首向</div>
          <div class="detail_style">航速</div>
          <div class="detail_style">安装时间</div>
          <div class="detail_style detail_styleC"></div>
          <div class="detail_style">拆卸时间</div>
          <div class="detail_style detail_styleC"></div>
        </div>
        <div class="detail_contentsC">
          <div class="detail_style">{{ topData.m ? topData.m : "--" }}</div>
          <div class="detail_style">{{ topData.n ? topData.n : "--" }}</div>
          <div class="detail_style">
            {{ topData.l ? topData.l : "--" }}
          </div>
          <div class="detail_style">{{ topData.o ? topData.o : "--" }}</div>
          <div class="detail_style">{{ topData.p ? topData.p : "--" }}</div>
          <div class="detail_style">{{ topData.q ? topData.q : "--" }}</div>
          <div class="detail_style">{{ topData.r ? topData.r : "--" }}</div>
          <div class="detail_style">
            {{ topData.s ? topData.s : "--" }}
          </div>
          <div class="detail_style">
            {{ topData.t ? topData.t : "--" }}
          </div>
        </div>
      </div>
      <div class="box_v2_bottom"></div>
    </div>
    <div class="box box2">
      <div class="box_v2_title">
        <img src="~@/assets/v2/ships/人员信息.png" alt="" />
        人员信息
      </div>
      <div class="echart_bjcs">
        <div class="echart_title">{{ centerData.name }}</div>
      </div>
      <div class="detail_box">
        <div class="detail_box_left"></div>
        <div class="detail_box_right">
          <div class="detail_box_right_">
            <div>姓名</div>
            <div>所属单位</div>
            <div>联系人</div>
            <div>联系电话</div>
            <div>邮政编码</div>
            <div>联系地址</div>
          </div>
          <div class="detail_box_right__">
            <div>{{ centerData.detail.a }}</div>
            <div>{{ centerData.detail.b }}</div>
            <div>{{ centerData.detail.c }}</div>
            <div>{{ centerData.detail.d }}</div>
            <div>{{ centerData.detail.f }}</div>
            <div>{{ centerData.detail.e }}</div>
          </div>
        </div>
      </div>
      <div class="echart_bjcs">
        <div class="echart_title">{{ centerData.name1 }}</div>
      </div>
      <div class="detail_boxC">
        <div v-for="(item, i) of centerData.list" :key="i">{{ item }}</div>
      </div>
      <div class="box_v2_bottom"></div>
    </div>
    <div class="box box3">
      <div class="box_v2_title">
        <img src="~@/assets/v2/ships/历史轨迹.png" alt="" />
        历史轨迹
      </div>
      <div class="weather_btn_box">
        <div
          v-for="(item, i) of bottomData"
          :key="i"
          class="weather_btn_box_item"
          :class="bottomDataActive == item ? 'active' : ''"
          @click="select(item)"
        >
          {{ item }}
        </div>
      </div>
      <div class="box3_title">
        <div>粤台沙4597</div>
        <div>航行总里程：1272.27海里</div>
      </div>
      <div class="schedule">
        <div class="q_text">起点</div>
        <div class="q_img"></div>
        <div class="schedule_box">
          <el-progress :text-inside="true" :stroke-width="12" :percentage="78">
          </el-progress>
        </div>
        <div class="z_img"></div>
        <div class="z_text">终点</div>
      </div>
      <div class="box3_titleC">
        <div>已航行：992.37海里</div>
        <div>剩余里程：279.9海里</div>
      </div>
      <div class="topbtn_box">
        <img
          src="~@/assets/v2/ships/倍速.png"
          alt=""
          class="topbtn_box_itemC"
        />
        <img
          src="~@/assets/v2/ships/1未选择.png"
          alt=""
          class="topbtn_box_item"
          v-show="selectActive != 1"
          @click="selectBtn(1)"
        />
        <img
          src="~@/assets/v2/ships/1选择.png"
          alt=""
          class="topbtn_box_item"
          v-show="selectActive == 1"
        />
        <img
          src="~@/assets/v2/ships/3未选择.png"
          alt=""
          class="topbtn_box_item"
          v-show="selectActive != 2"
          @click="selectBtn(2)"
        />
        <img
          src="~@/assets/v2/ships/3已选择.png"
          alt=""
          class="topbtn_box_item"
          v-show="selectActive == 2"
        />
        <img
          src="~@/assets/v2/ships/5未选择.png"
          alt=""
          class="topbtn_box_item"
          v-show="selectActive != 3"
          @click="selectBtn(3)"
        />
        <img
          src="~@/assets/v2/ships/5已选择.png"
          alt=""
          class="topbtn_box_item"
          v-show="selectActive == 3"
        />
      </div>
      <div class="box_v2_bottom"></div>
    </div>
  </div>
</template>

<script>
import vueSeamlessScroll from "vue-seamless-scroll";
export default {
  props: {},
  components: { vueSeamlessScroll },
  computed: {},
  data() {
    return {
      // 基本信息数据
      topData: {
        name: "粤台沙4597",
        a: "BLTIT",
        b: "268",
        c: "北斗：2167",
        d: "涉渔",
        e: "82.17米",
        f: "26.32米",
        g: "15.02吨",
        h: "",
        i: "",
        j: "3米",
        k: "1549.23KW",
        l: "2012-11-09  11:49:43",
        m: "116°  18′  06″",
        n: "40°  02′  04″",
        o: "0.00",
        p: "140°",
        q: "143°",
        r: "15.94节",
        s: "2019-06-17  12:56:31",
        t: "2021-06-17  16:07:31",
      },
      // 人员信息数据
      centerData: {
        name: "船主",
        detail: {
          a: "赵小明",
          b: "南海局",
          c: "刘安",
          d: "15735047537",
          e: "北京市丰台区青塔西路长安新城一区",
          f: "10071",
        },
        name1: "船员",
        list: [
          "王明明",
          "韩元波",
          "谢志峰",
          "吴少华",
          "高一霞",
          "张亦辰",
          "赵子节",
        ],
      },
      // 历史轨迹信息
      bottomData: ["前一天", "前三天", "最近一周"],
      bottomDataActive: "前一天",
      btnData: ["x1", "x3", "x5"],
      btnActive: "x1",
      centerNum: 40,
      // 天气选中按钮
      selectActive: 1,
    };
  },
  created() {},
  mounted() {},
  watch: {},
  methods: {
    // 按钮切换
    select(data) {
      this.bottomDataActive = data;
    },
    // 天气选中
    selectBtn(data) {
      this.selectActive = data;
    },
  },
};
</script>

<style lang="scss" scoped>
.left_contents {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  .box {
    width: 371px;
    background-color: rgba(13, 41, 68, 0.5);
    position: relative;
    .box_v2_title {
      width: 371px;
      height: 48px;
      background: url("~@/assets/v2/标题.png") no-repeat;
      background-size: 100% 100%;
      display: flex;
      align-items: center;
      font-size: 20px;
      letter-spacing: 2px;
      color: #fff;
      img {
        width: 24px;
        height: 24px;
        margin: 0 12px;
      }
      .num_style {
        width: 64px;
        height: 21px;
        margin: 2px 0 0 10px;
        background: url("~@/assets/v2/当前数量.png") no-repeat;
        background-size: 100% 100%;
        font-size: 14px;
        color: #4dccfd;
        letter-spacing: 0;
      }
    }
    .echart_bjcs {
      margin: 10px 0;
      .echart_title {
        margin-left: 12px;
        padding-left: 25px;
        width: 180px;
        height: 21px;
        font-size: 14px;
        line-height: 21px;
        font-style: italic;
        background: url("~@/assets/v2/统计图标题.png") no-repeat;
      }
    }
    .box_v2_bottom {
      width: 394px;
      height: 44px;
      background: url("~@/assets/v2/框底部.png") no-repeat;
      background-size: 100% 100%;
      position: absolute;
      bottom: -21px;
      left: -11px;
    }
    .box_detail {
      height: calc(100% - 93px);
      display: flex;
      padding: 0 12px 12px 20px;
      .detail_contents {
        flex: 1;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        .detail_style {
          font-size: 14px;
          color: rgba(255, 255, 255, 0.6);
        }
        .detail_style::before {
          display: inline-block;
          content: "";
          height: 14px;
          width: 2px;
          background: #2696ff;
          position: relative;
          top: 2px;
          left: -6px;
        }
        .detail_styleC {
          height: 10px;
        }
        .detail_styleC::before {
          display: none;
        }
      }
      .detail_contentsC {
        flex: 1;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        .detail_style {
          font-size: 12px;
          color: #ffffff;
        }
      }
    }
    .detail_box {
      height: 146px;
      padding: 0 12px;
      display: flex;
      .detail_box_left {
        width: 43px;
        height: 146px;
        background: url("~@/assets/v2/ships/编号.png") no-repeat;
        background-size: 100% 100%;
      }
      .detail_box_right {
        height: 146px;
        width: calc(100% - 43px);
        display: flex;
        .detail_box_right_ {
          flex: 1;
          padding-left: 10px;
          div {
            height: 24px;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.6);
          }
        }
        .detail_box_right__ {
          flex: 2;
          div {
            height: 24px;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.9);
          }
        }
      }
    }
    .detail_boxC {
      display: flex;
      flex-wrap: wrap;
      padding: 0 12px;
      div {
        font-size: 14px;
        margin: 0 27px 10px 0;
        color: rgba(255, 255, 255, 0.8);
      }
    }
    .weather_btn_box {
      width: 184px;
      height: 23px;
      margin: 10px 0 10px 12px;
      background: url("~@/assets/v2/ships/切换1.png") no-repeat;
      background-size: 100% 100%;
      display: flex;
      align-items: center;
      .weather_btn_box_item {
        width: 59px;
        text-align: center;
        font-size: 14px;
        font-weight: bolder;
        color: #fff;
        cursor: pointer;
      }
      .active {
        color: #2696ff;
      }
      .weather_btn_box_item:hover {
        color: #2696ff;
      }
    }
    .box3_title {
      display: flex;
      justify-content: space-between;
      padding: 0 12px;
      div {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.9);
      }
    }
    .box3_titleC {
      display: flex;
      justify-content: space-between;
      padding: 0 12px;
      div {
        font-size: 14px;
        color: #bedbf7;
      }
    }
    .schedule {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 12px;
      .z_text {
        width: 35px;
        font-size: 12px;
        color: #d2a4b6;
        text-align: right;
      }
      .q_text {
        width: 35px;
        font-size: 12px;
        color: #37b213;
        text-align: left;
      }
      .q_img {
        width: 30px;
        height: 11px;
        background: url("~@/assets/v2/ships/起点.png") no-repeat;
        background-size: 100% 100%;
      }
      .schedule_box {
        width: calc(100% - 130px);
      }
      .schedule_box /deep/ .el-progress-bar__outer {
        background: rgba(255, 255, 255, 0.6);
      }
      .schedule_box /deep/ .el-progress-bar__inner {
        background: #26baff;
      }
      .schedule_box /deep/ .el-progress-bar__innerText {
        position: relative;
        top: -3px;
        font-size: 12px;
      }

      .z_img {
        width: 30px;
        height: 11px;
        background: url("~@/assets/v2/ships/终点.png") no-repeat;
        background-size: 100% 100%;
      }
    }
    .topbtn_box {
      margin: 20px 80px 0 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .topbtn_box_item {
        width: 66px;
        height: 26px;
        cursor: pointer;
      }
      .topbtn_box_itemC {
        width: 50px;
        height: 38px;
      }
    }
  }
  .box1 {
    height: 324px;
  }
  .box2 {
    height: 339px;
    box-shadow: none;
    border: none;
  }
  .box3 {
    height: 253px;
  }
}
</style>
