<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <link rel="stylesheet" href="./static/Cesium/Widgets/widgets.css">
  <script src="./static/R/d3-array.v1.min.js"></script>
  <script src="./static/R/d3-geo.v1.min.js"></script>

  <title>
    
  </title>
  <style>
    .distance-legend {
      left: 10px;
      right: 0;
    }
  </style>
</head>

<body>

  <script src="./static/Cesium/Cesium.js"></script>
  <script src="./static/Cesium/d3kit/d3kit.js"></script> 
  <script src="./static/GeoserverTerrainProvider.js"></script>
  <script src="https://www.lactame.com/lib/netcdfjs/0.7.0/netcdfjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dat.gui@0.7.6/build/dat.gui.min.js"></script>
  <script src="https://spectorcdn.babylonjs.com/spector.bundle.js"></script>
  <script>
    Cesium.Ion.defaultAccessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJjOWZmZWUzYy04OGI1LTRmNTItYjhiMS0xZmMxYzMyMDJlNjkiLCJpZCI6NDYyMzEsImlhdCI6MTYxNTk2MjQyMn0.9NhBOxi4Eb-vWbSZGTv7ZFw42YvPEkFRBUBfGrLyRJM';
  </script>
  
  <script src="./static/js/util.js"></script>
  <script src="./static/js/dataProcess.js"></script>
  <script src="./static/js/customPrimitive.js"></script>
  <script src="./static/js/particlesComputing.js"></script>
  <script src="./static/js/particlesRendering.js"></script>
  <script src="./static/js/particleSystem.js"></script>
  <script src="./static/js/wind3D.js"></script>
  <script src="./static/js/gui.js"></script>
  <script src="./static/js/app.js"></script>
  <script src="./static/index.js"></script>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>