<template>
  <div class="left_v2_contents">
    <div class="box box1">
      <div class="box_v2_title">
        <img src="~@/assets/v2/气象信息.png" alt="" />
        气象信息
      </div>
      <div class="weather_btn_box">
        <div
          v-for="(item, i) of topWeatherBtn"
          :key="i"
          class="weather_btn_box_item"
          :class="topWeatherBtnActive == item ? 'active' : ''"
          @click="select(item)"
        >
          {{ item }}
        </div>
      </div>
      <div class="warning_box">
        <div class="item_index">
          <img src="~@/assets/v2/预警.png" alt="" />
          <span class="img_text">预警</span>
        </div>
        <div class="scroll_sty_one">
          <vue-seamless-scroll :data="oneData" :class-option="oneOption">
            <div v-for="(item, i) in oneData" :key="i">
              {{ item }}
            </div>
          </vue-seamless-scroll>
        </div>
      </div>
      <div class="scroll_sty">
        <vue-seamless-scroll :data="topData" :class-option="topOption">
          <div
            v-for="(item, i) in topData"
            :key="i"
            class="warning_box_item"
            v-show="i != 0"
            @mouseover="mouseover"
            @mouseout="mouseout"
          >
            <div class="name" v-show="!isMouse">
              {{ item.length > 20 ? `${item.slice(0, 19)}...` : item }}
            </div>
            <div class="name" v-show="isMouse">
              {{ item }}
            </div>
            <img src="~@/assets/v2/arrow.png" alt="" class="arrow" />
          </div>
        </vue-seamless-scroll>
      </div>
      <div class="topbtn_box">
        <img
          src="~@/assets/v2/天气未选中.png"
          alt=""
          class="topbtn_box_item"
          v-show="selectActive != 1"
          @click="selectBtn(1)"
        />
        <img
          src="~@/assets/v2/天气选中.png"
          alt=""
          class="topbtn_box_item"
          v-show="selectActive == 1"
        />
        <img
          src="~@/assets/v2/台风未选中.png"
          alt=""
          class="topbtn_box_item"
          v-show="selectActive != 2"
          @click="selectBtn(2)"
        />
        <img
          src="~@/assets/v2/台风选中.png"
          alt=""
          class="topbtn_box_item"
          v-show="selectActive == 2"
        />
        <img
          src="~@/assets/v2/洋流未选中.png"
          alt=""
          class="topbtn_box_item"
          v-show="selectActive != 3"
          @click="selectBtn(3)"
        />
        <img
          src="~@/assets/v2/洋流选中.png"
          alt=""
          class="topbtn_box_item"
          v-show="selectActive == 3"
        />
        <img
          src="~@/assets/v2/风未选中.png"
          alt=""
          class="topbtn_box_item"
          v-show="selectActive != 4"
          @click="selectBtn(4)"
        />
        <img
          src="~@/assets/v2/风选中.png"
          alt=""
          class="topbtn_box_item"
          v-show="selectActive == 4"
        />
        <img
          src="~@/assets/v2/雾未选中.png"
          alt=""
          class="topbtn_box_item"
          v-show="selectActive != 5"
          @click="selectBtn(5)"
        />
        <img
          src="~@/assets/v2/雾选中.png"
          alt=""
          class="topbtn_box_item"
          v-show="selectActive == 5"
        />
      </div>
      <div class="box_v2_bottom"></div>
    </div>
    <div class="box box2">
      <div class="box_v2_title">
        <img src="~@/assets/v2/电子围栏.png" alt="" />
        电子围栏
        <div class="num_style">当前{{ centerData.length }}个</div>
      </div>
      <div class="box_v2_center">
        <div class="box_v2_center_title">
          <div class="index">序号</div>
          <div class="title">名称</div>
        </div>
        <div class="detail_box">
          <div
            v-for="(item, i) of centerData"
            :key="i"
            class="box_v2_item"
            :class="i % 2 == 0 ? 'box_v2_itemC' : ''"
          >
            <div class="index">{{ i + 1 }}</div>
            <div class="title titleC">{{ item }}</div>
          </div>
        </div>
      </div>
      <div class="box_v2_bottom"></div>
    </div>
    <div class="box box3">
      <div class="box_v2_title">
        <img src="~@/assets/v2/地点拷贝.png" alt="" />
        船舶最新位置情况
      </div>
      <div class="box_v2_bottom_btn">
        <div
          v-for="(item, i) of bottomBtn"
          :key="i"
          class="weather_btn_box_item"
          :class="bottomBtnActive == item ? 'active' : ''"
          @click="selectBottomBtn(item)"
        >
          {{ item }}
        </div>
      </div>
      <div class="box_v2_center">
        <div class="box_v2_center_title">
          <div class="index">船名</div>
          <div class="index">经度</div>
          <div class="index">纬度</div>
        </div>
        <div class="scroll_sty_">
          <vue-seamless-scroll :data="bottomData" :class-option="bottomOption">
            <div
              v-for="(item, i) in bottomData"
              :key="i"
              class="box_v2_item"
              :class="i % 2 == 0 ? 'box_v2_itemC' : ''"
            >
              <div class="index titleC">{{ item.name }}</div>
              <div class="index">{{ item.lon }}</div>
              <div class="index">{{ item.lng }}</div>
            </div>
          </vue-seamless-scroll>
        </div>
      </div>
      <div class="box_v2_bottom"></div>
    </div>
  </div>
</template>

<script>
import vueSeamlessScroll from "vue-seamless-scroll";
export default {
  props: {},
  components: { vueSeamlessScroll },
  computed: {},
  data() {
    return {
      // 按钮
      topWeatherBtn: ["预警信号", "降水预报"],
      // 选中按钮
      topWeatherBtnActive: "预警信号",
      // 预警信息列表
      topData: [
        "中央气象台4月7日06时继续发布大雾黄色预警！！！",
        "台风“鲇鱼”最新位置：北纬11.2°，东经125.5°，中心附近台风“鲇鱼”最新位置：北纬11.2°，东经125.5°",
        "预计4月10日渤海地区发生暴雨红色预警",
        "10-13日较强冷空气将影响我国",
        "山东省烟台市发布大风黄色预警信号山东省烟台市发布大风黄色预警信号山东省烟台市发布大风黄色预警信号",
        "未来三天雨水稀少气温回升，大雾笼罩黄海东海",
      ],
      // 预警信息滚动配置
      topOption: {
        step: 1, // 数值越大速度滚动越快
        limitMoveNum: 1, // 开始无缝滚动的数据量 this.dataList.length
        hoverStop: true, // 是否开启鼠标悬停stop
        direction: 1, // 0向下 1向上 2向左 3向右
        openWatch: true, // 开启数据实时监控刷新dom
        singleHeight: 31, // 单步运动停止的高度(默认值0是无缝不停止的滚动) direction => 0/1
        singleWidth: 0, // 单步运动停止的宽度(默认值0是无缝不停止的滚动) direction => 2/3
        waitTime: 0, // 停顿时间
      },
      // 天气选中按钮
      selectActive: 1,
      // 预警---列表（默认信息的第一个）
      oneData: [],
      // 预警内容滚动配置
      oneOption: {
        step: 1, // 数值越大速度滚动越快
        limitMoveNum: 1, // 开始无缝滚动的数据量 this.dataList.length
        hoverStop: true, // 是否开启鼠标悬停stop
        direction: 2, // 0向下 1向上 2向左 3向右
        openWatch: true, // 开启数据实时监控刷新dom
        singleHeight: 31, // 单步运动停止的高度(默认值0是无缝不停止的滚动) direction => 0/1
        singleWidth: 0, // 单步运动停止的宽度(默认值0是无缝不停止的滚动) direction => 2/3
        waitTime: 0, // 停顿时间
      },
      // 鼠标悬停列表
      mouseoverList: [],
      // 判断鼠标是否移入
      isMouse: false,
      // 电子围栏数据
      centerData: [
        "电子围栏1",
        "紧急维修区",
        "电子围栏2",
        "紧急维修区",
        "电子围栏3",
        "紧急维修区",
        "电子围栏4",
        "紧急维修区",
        "电子围栏5",
        "紧急维修区",
        "电子围栏6",
        "紧急维修区",
      ],
      // 船舶最新位置按钮
      bottomBtn: ["异常", "故障", "高危", "执法", "救援"],
      // 船舶选中按钮
      bottomBtnActive: "异常",
      // 船舶最新位置信息数据
      bottomData: [
        { name: "船舶1", lon: "17°32'14", lng: "117°32'14" },
        { name: "船舶2", lon: "17°32'14", lng: "117°32'14" },
        { name: "船舶3", lon: "17°32'14", lng: "117°32'14" },
        { name: "船舶4", lon: "17°32'14", lng: "117°32'14" },
        { name: "船舶5", lon: "17°32'14", lng: "117°32'14" },
        { name: "船舶6", lon: "17°32'14", lng: "117°32'14" },
        { name: "船舶7", lon: "17°32'14", lng: "117°32'14" },
        { name: "船舶8", lon: "17°32'14", lng: "117°32'14" },
        { name: "船舶9", lon: "17°32'14", lng: "117°32'14" },
        { name: "船舶10", lon: "17°32'14", lng: "117°32'14" },
      ],
      // 船舶最新位置信息滚动配置
      bottomOption: {
        step: 1, // 数值越大速度滚动越快
        limitMoveNum: 1, // 开始无缝滚动的数据量 this.dataList.length
        hoverStop: true, // 是否开启鼠标悬停stop
        direction: 1, // 0向下 1向上 2向左 3向右
        openWatch: true, // 开启数据实时监控刷新dom
        singleHeight: 40, // 单步运动停止的高度(默认值0是无缝不停止的滚动) direction => 0/1
        singleWidth: 0, // 单步运动停止的宽度(默认值0是无缝不停止的滚动) direction => 2/3
        waitTime: 0, // 停顿时间
      },
    };
  },
  created() {
    this.init();
  },
  mounted() {},
  watch: {},
  methods: {
    // 预警--列表，默认预警信息的第一个
    init() {
      this.topData.forEach((item, i) => {
        if (i == 0) {
          this.oneData.push(item);
        }
      });
    },
    // 按钮选中
    select(data) {
      this.topWeatherBtnActive = data;
    },
    // 天气选中
    selectBtn(data) {
      this.selectActive = data;
    },
    // 鼠标移入
    mouseover() {
      this.isMouse = true;
    },
    // 鼠标移出
    mouseout() {
      this.isMouse = false;
    },
    // 船舶位置选中
    selectBottomBtn(data) {
      this.bottomBtnActive = data;
    },
  },
};
</script>

<style lang="scss" scoped>
.left_v2_contents {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  .box {
    width: 371px;
    background-color: rgba(13, 41, 68, 0.5);
    position: relative;
    .box_v2_title {
      width: 371px;
      height: 48px;
      background: url("~@/assets/v2/标题.png") no-repeat;
      background-size: 100% 100%;
      display: flex;
      align-items: center;
      font-size: 20px;
      letter-spacing: 2px;
      color: #fff;
      img {
        width: 24px;
        height: 24px;
        margin: 0 12px;
      }
      .num_style {
        width: 64px;
        height: 21px;
        margin: 2px 0 0 10px;
        background: url("~@/assets/v2/当前数量.png") no-repeat;
        background-size: 100% 100%;
        font-size: 14px;
        color: #4dccfd;
        letter-spacing: 0;
      }
    }
    .weather_btn_box {
      width: 143px;
      height: 23px;
      margin: 5px 0 5px 12px;
      background: url("~@/assets/v2/切换.png") no-repeat;
      background-size: 100% 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .weather_btn_box_item {
        width: 72px;
        text-align: center;
        font-size: 14px;
        color: #fff;
        cursor: pointer;
      }
      .active {
        color: #2696ff;
      }
      .weather_btn_box_item:hover {
        color: #2696ff;
      }
    }
    .warning_box {
      display: flex;
      width: 100%;
      height: 23px;
      .item_index {
        width: 57px;
        height: 23px;
        margin: 0 0 12px 12px;
        position: relative;
        .img_text {
          font-size: 14px;
          color: #000;
          position: absolute;
          top: 0;
          left: 13px;
        }
      }
      .scroll_sty_one {
        height: 23px;
        width: calc(100% - 57px);
        font-size: 16px;
        overflow: auto;
        cursor: pointer;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
    .scroll_sty {
      margin-top: 5px;
      height: calc(100% - 160px);
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      .warning_box_item {
        width: 346px;
        height: 31px;
        background: url("~@/assets/v2/未选中.png") no-repeat;
        background-size: 100% 100%;
        margin: 10px 0 0 12px;
        padding-left: 30px;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
        .name {
          width: calc(100% - 35px);
          overflow: hidden;
          white-space: nowrap;
        }
        .arrow {
          width: 15px;
          height: 12px;
          margin-right: 12px;
        }
      }
      .warning_box_item:hover {
        .name {
          width: 1000px;
          animation: move 10s linear infinite;
        }
      }
      @keyframes move {
        0% {
          margin-left: 280px;
        }

        100% {
          margin-left: -280px;
        }
      }
    }
    .topbtn_box {
      margin: 10px 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .topbtn_box_item {
        width: 66px;
        height: 26px;
        cursor: pointer;
      }
    }
    .box_v2_bottom {
      width: 394px;
      height: 44px;
      background: url("~@/assets/v2/框底部.png") no-repeat;
      background-size: 100% 100%;
      position: absolute;
      bottom: -21px;
      left: -11px;
    }
    .box_v2_center {
      height: calc(100% - 48px);
      padding: 0 12px;
      .box_v2_center_title {
        width: 346px;
        height: 29px;
        background: url("~@/assets/v2/表头背景.png") no-repeat;
        background-size: 100% 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .index {
          flex: 4;
          text-align: center;
        }
        .title {
          flex: 5;
          padding-left: 50px;
        }
      }
      .detail_box {
        height: calc(100% - 41px);
        overflow-y: auto;
        overflow-x: hidden;
        .box_v2_item {
          width: 346px;
          height: 28px;
          background-image: linear-gradient(
            90deg,
            rgba(38, 150, 255, 0.3) 0%,
            rgba(38, 150, 255, 0.1) 100%
          );
          display: flex;
          justify-content: space-between;
          align-items: center;
          .index {
            font-size: 14px;
            flex: 4;
            text-align: center;
          }
          .title {
            flex: 5;
            padding-left: 50px;
          }
          .titleC {
            font-size: 14px;
            color: #bedbf7;
          }
        }
        .box_v2_itemC {
          background: none;
        }
      }
    }
    .box_v2_bottom_btn {
      width: 212px;
      height: 23px;
      background: url("~@/assets/v2/切换 ..png") no-repeat;
      background-size: 100% 100%;
      margin: 5px 0 5px 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .weather_btn_box_item {
        width: 72px;
        text-align: center;
        font-size: 14px;
        color: #fff;
        cursor: pointer;
      }
      .active {
        color: #2696ff;
      }
      .weather_btn_box_item:hover {
        color: #2696ff;
      }
    }
    .scroll_sty_ {
      height: calc(100% - 71px);
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      .box_v2_item {
        width: 346px;
        height: 28px;
        background-image: linear-gradient(
          90deg,
          rgba(38, 150, 255, 0.4) 0%,
          rgba(38, 150, 255, 0.1) 100%
        );
        display: flex;
        justify-content: space-between;
        align-items: center;
        .index {
          font-size: 14px;
          flex: 4;
          text-align: center;
        }
        .title {
          flex: 5;
          padding-left: 50px;
        }
        .titleC {
          font-size: 14px;
          color: #bedbf7;
        }
      }
      .box_v2_itemC {
        background: none;
      }
    }
  }
  .box1 {
    height: 360px;
  }
  .box2 {
    height: 256px;
    box-shadow: none;
    border: none;
  }
  .box3 {
    height: 299px;
  }
}
</style>
