<template>
  <div class="left_v2_contents">
    <div class="box af_boxwarp">
      <div class="box_v2_title">
        <img src="~@/assets/v2/报警信息.png" alt="" />
        报警信息
      </div>
      <!-- 报警总量 -->
      <div class="af_all">
        <div class="af_bjzl">
          <p>
            报警总量 <span>{{ alarmInforAll.toLocaleString() }}次</span>
          </p>
        </div>
      </div>
      <div class="af_six">
        <div
          v-for="(item, i) in alarmInforData"
          :key="i"
          :class="
            afMouse == i || afClick == i ? 'af_sixWarp af_xzbj' : 'af_sixWarp'
          "
          @mouseover="afsixMouseover(i)"
          @click="afsixClick(i)"
          @mouseout="afsixMouseout()"
        >
          <div class="af_warp">
            <div class="af_sixImg">
              <img v-if="i == 0" src="~@/assets/v2/紧急.png" alt="" />
              <img v-if="i == 1" src="~@/assets/v2/区域.png" alt="" />
              <img v-if="i == 2" src="~@/assets/v2/离线.png" alt="" />
              <img v-if="i == 3" src="~@/assets/v2/拆卸.png" alt="" />
              <img v-if="i == 4" src="~@/assets/v2/超速.png" alt="" />
              <img v-if="i == 5" src="~@/assets/v2/未预备.png" alt="" />
            </div>
            <div class="af_sixSize">
              <p>{{ item.name }}</p>
              <p style="width: 55px">{{ item.value }} <span>条</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- 各时段报警次数 -->
      <div class="echart_bjcs">
        <div class="echart_title">各时段报警次数</div>
        <div id="echart_tu"></div>
      </div>
      <div class="box_v2_bottom"></div>
    </div>
    <div class="box">
      <div class="box_v2_title">
        <img src="~@/assets/v2/重点区域.png" alt="" />
        重点区域
        <div class="num_style">当前{{ zdqyData.length }}个</div>
      </div>
      <div class="zdqy_warp">
        <div class="zdqy_titlt">
          <div class="zdqy_name">区域名称</div>
          <div>船舶数量</div>
        </div>
        <div
          :class="i % 2 == 0 ? 'zdqy_content' : 'zdqy_content zdqy_cobj'"
          v-for="(item, i) in zdqyData"
          :key="i"
        >
          <div class="zdqy_nameC">{{ item.name }}</div>
          <div>{{ item.value }}</div>
        </div>
        <div class="zdqy_more">
          <div
            class="zdqy_img"
            @mouseover="zdqyMoreMouse"
            @mouseout="zdqyMoreout"
          >
            <img v-if="!zdqyMore" src="~@/assets/v2/更多.png" alt="" />
            <img v-else src="~@/assets/v2/更多选中.png" alt="" />
          </div>
        </div>
      </div>
      <div class="box_v2_bottom"></div>
    </div>
  </div>
</template>

<script>
import { loopShowTooltip } from "../../../utils/tooltip-auto-show-vue.js";
export default {
  props: {},
  components: {},
  computed: {},
  data() {
    return {
      tootipTimer: "",
      afMouse: 10,
      afClick: 10,
      zdqyMore: false,
      alarmInforData: [
        {
          name: "紧急",
          value: 94,
        },
        {
          name: "区域",
          value: 195,
        },
        {
          name: "离线",
          value: 7,
        },
        {
          name: "拆卸",
          value: 33,
        },
        {
          name: "超速",
          value: 12,
        },
        {
          name: "未预备",
          value: 80,
        },
      ],
      alarmInforAll: 1311,
      zdqyData: [
        {
          name: "监控区域",
          value: 121,
        },
        {
          name: "执法区域",
          value: 27,
        },
        {
          name: "货运区域",
          value: 68,
        },
        {
          name: "维修区域",
          value: 9,
        },
        {
          name: "资源区域",
          value: 30,
        },
        {
          name: "公共区域",
          value: 74,
        },
      ],
    };
  },
  created() {},
  mounted() {
    this.init();
  },
  watch: {},
  methods: {
    // 加载echarts图
    init() {
      this.broken();
    },
    afsixMouseover(val) {
      this.afMouse = val;
    },
    afsixClick(val) {
      this.afClick = val;
    },
    afsixMouseout() {
      this.afMouse = 10;
    },
    zdqyMoreMouse() {
      this.zdqyMore = true;
    },
    zdqyMoreout() {
      this.zdqyMore = false;
    },
    broken() {
      let myChart = this.$echarts.init(document.getElementById("echart_tu"));
      let xData = [
        "00:00",
        "01:00",
        "02:00",
        "03:00",
        "04:00",
        "05:00",
        "06:00",
        "07:00",
        "08:00",
        "09:00",
        "10:00",
        "11:00",
        "12:00",
        "13:00",
        "14:00",
        "15:00",
        "16:00",
        "17:00",
        "18:00",
        "19:00",
        "20:00",
        "21:00",
        "22:00",
        "23:00",
      ];
      let dataCar = [
        20, 10, 35, 35, 70, 60, 15, 80, 90, 60, 80, 90, 25, 30, 45, 55, 30, 40,
        65, 30, 80, 10, 90, 100,
      ];
      let option = {
        backgroundColor: "transparent",
        title: {
          text: "单位：次",
          textStyle: {
            color: "#fff",
            fontSize: 12,
          },
          right: "10%",
        },
        tooltip: {
          trigger: "axis",
          // axisPointer: {
          //   type: "shadow",
          //   textStyle: {
          //     color: "#fff",
          //   },
          // },
          axisPointer: {
            lineStyle: {
              color: "#00ffff",
            },
          },
        },
        grid: {
          borderWidth: 0,
          top: 40,
          bottom: 30,
          textStyle: {
            color: "#fff",
          },
        },
        calculable: true,
        xAxis: {
          type: "category",
          boundaryGap: false,
          data: xData,
          nameTextStyle: {
            color: "#59B4DF",
            fontSize: 12,
          },
          axisLabel: {
            color: "#fff", //x轴文字颜色
            fontSize: 10,
            interval: 0,
            rotate: 30,
          },
          axisLine: {
            //x轴轴线
            lineStyle: {
              color: "#59B4DF",
              width: 2,
            },
          },
          axisTick: {
            //刻度线
            show: false,
          },
          splitLine: {
            //网格线
            show: false,
            // lineStyle: {
            //   color: "#fff",
            //   width: 1,
            // },
          },
        },
        yAxis: {
          type: "value",
          nameTextStyle: {
            color: "#59B4DF",
            fontSize: 14,
          },
          axisLabel: {
            normal: {
              color: "#59B4DF",
              fontSize: 14,
            },
          },
          axisLine: {
            //x轴轴线
            lineStyle: {
              color: "#fff",
              width: 0,
            },
          },
          splitLine: {
            //分割线
            show: false,
          },
          axisTick: {
            show: false,
          },
          splitLine: {
            //网格线
            show: true,
            lineStyle: {
              color: "rgba(255,255,255,.3)",
              width: 1,
            },
          },
        },
        dataZoom: [
          {
            type: "slider",
            show: false,
            realtime: true,
            startValue: 0,
            endValue: 24,
          },
        ],
        series: [
          {
            name: "",
            type: "line",
            smooth: true,
            symbol: "none",
            itemStyle: {
              normal: {
                show: true,
                color: "rgba(255,255,255,.4)", //边的颜色
              },
            },
            lineStyle: {
              normal: {
                color: "#bedbf7", // 线条颜色
              },
            },
            areaStyle: {
              normal: {
                color: this.$echarts.graphic.LinearGradient(
                  0,
                  0,
                  0,
                  1,
                  [
                    {
                      offset: 0,
                      color: "rgba(58,132,255,0)",
                    },
                    {
                      offset: 0.8,
                      color: "rgba(58,132,255,0.35)",
                    },
                  ],
                  false
                ),
                shadowColor: "rgba(0, 0, 0, 0.1)",
                shadowBlur: 10,
              },
            },
            // markPoint: {
            //   data: [
            //     {
            //       type: "max",
            //       name: "最大值",
            //       symbolSize: 50,
            //       itemStyle: {
            //         normal: {
            //           color: "#6699ff",
            //         },
            //       },
            //       label: {
            //         normal: {
            //           show: true,
            //           color: "#fff",
            //         },
            //       },
            //     },
            //     {
            //       type: "min",
            //       name: "最大值",
            //       symbolSize: 50,
            //       itemStyle: {
            //         normal: {
            //           color: "#0bc0c4",
            //         },
            //       },
            //       label: {
            //         normal: {
            //           show: true,
            //           color: "#fff",
            //         },
            //       },
            //     },
            //   ],
            // },
            data: dataCar,
          },
        ],
      };
      let a = 1;
      setInterval(function () {
        if (a == xData.length - 12) {
          a = 0;
        }
        myChart.dispatchAction({
          type: "dataZoom",
          startValue: a,
          endValue: a + 12,
        });
        a++;
      }, 2000);
      myChart.setOption(option, true);
      // this.tootipTimer && this.tootipTimer.clearLoop(); // this.tootipTimer 在data里定义
      // this.tootipTimer = 0;
      // // 调用轮播的方法
      // this.tootipTimer = loopShowTooltip(myChart, option, {
      //   interval: 1000, // 轮播间隔时间
      //   loopSeries: true, // 是否开启轮播循环
      // });
    },
  },
};
</script>

<style lang="scss" scoped>
.left_v2_contents {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  .box {
    width: 371px;
    height: 288px;
    background-color: rgba(13, 41, 68, 0.5);
    position: relative;
    // top: -20px;
    .box_v2_title {
      width: 371px;
      height: 48px;
      background: url("~@/assets/v2/标题.png") no-repeat;
      background-size: 100% 100%;
      display: flex;
      align-items: center;
      font-size: 20px;
      letter-spacing: 2px;
      color: #fff;
      img {
        width: 24px;
        height: 24px;
        margin: 0 12px;
      }
      .num_style {
        width: 64px;
        height: 21px;
        margin: 2px 0 0 10px;
        background: url("~@/assets/v2/当前数量.png") no-repeat;
        background-size: 100% 100%;
        font-size: 14px;
        color: #4dccfd;
        letter-spacing: 0;
      }
    }
    .box_v2_bottom {
      width: 394px;
      height: 44px;
      background: url("~@/assets/v2/框底部.png") no-repeat;
      background-size: 100% 100%;
      position: absolute;
      bottom: -21px;
      left: -11px;
      z-index: -1;
    }
    .af_all {
      width: 342px;
      height: 97px;
      margin: 10px 0 0px 20px;
      background: url("~@/assets/v2/报警总量.png") no-repeat;
      background-size: 100% 100%;
      .af_bjzl {
        font-size: 18px;
        font-style: italic;
        p {
          line-height: 79px;
          margin-left: 100px;
          span {
            color: #4dccfd;
            font-size: 24px;
            margin-left: 25px;
          }
        }
      }
    }
    .af_six {
      display: flex;
      flex-wrap: wrap;
      .af_sixWarp {
        width: 185px;
        height: 100px;
        padding: 5px 0 0 15px;
        cursor: pointer;
        .af_warp {
          display: flex;
          width: 149px;
          height: 77px;
          .af_sixImg {
            img {
              width: 84px;
              height: 77px;
            }
          }
          .af_sixSize {
            margin-top: 10px;
            font-size: 18px;
            font-style: italic;
            p {
              line-height: 30px;
              span {
                font-size: 14px;
                float: right;
                color: rgba(255, 255, 255, 0.6);
              }
            }
          }
        }
      }
      .af_xzbj {
        background: url("~@/assets/v2/报警选中.png") no-repeat;
        background-size: 100% 100%;
      }
    }
    .echart_bjcs {
      .echart_title {
        margin-left: 12px;
        padding-left: 25px;
        width: 180px;
        height: 21px;
        font-size: 14px;
        line-height: 21px;
        font-style: italic;
        background: url("~@/assets/v2/统计图标题.png") no-repeat;
      }
      #echart_tu {
        margin: 0 10px;
        width: 380px;
        height: 150px;
      }
    }
  }
  .af_boxwarp {
    height: 641px;
    // position: relative;
    // top: -20px;
  }
  .zdqy_warp {
    width: 348px;
    height: 100%;
    margin-left: 15px;
    .zdqy_titlt {
      height: 29px;
      background: url("~@/assets/v2/表头背景.png") no-repeat;
      background-size: 100% 100%;
      display: flex;
      .zdqy_name {
        width: 50%;
      }
      div {
        font-size: 16px;
        line-height: 30px;
        width: 50%;
        text-align: center;
      }
    }
    .zdqy_content {
      width: 346px;
      height: 28px;
      display: flex;
      div {
        font-size: 14px;
        color: #bedbf7;
        line-height: 28px;
        width: 50%;
        text-align: center;
      }
      .zdqy_name {
        width: 50%;
      }
    }
    .zdqy_cobj {
      background: url("~@/assets/v2/底色.png") no-repeat;
      background-size: 100% 100%;
    }
    .zdqy_more {
      margin-top: 10px;
      .zdqy_img {
        display: inline-block;
        margin-left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
      }
    }
  }
}
</style>
