<template>
  <div class="popup_contents">
    <div class="headers"><headers /></div>
    <div id="cesiumHome"></div>
    <!-- <canvas width="960" height="600"></canvas> -->
    <div class="popup_left"><popupLeft /></div>
    <div class="popup_center"><popupCenter /></div>
    <div class="popup_right"><popupRight /></div>
    <div class="titleBottom"><titleBottom /></div>
    <div class="bottom_bg_box"><bottoms /></div>
  </div>
</template>
<script>
import popupLeft from "./popupLeft/index.vue";
import popupCenter from "./popupCenter/index.vue";
import popupRight from "./popupRight/index.vue";
import titleBottom from "./titleBottom/index.vue";
import * as THREE from "three";
import initThree from "./initThree";
import Bottom from "../../components/bottoms.vue";
export default {
  name: "cesiumHome",
  props: {},
  components: { popupLeft, popupCenter, popupRight, titleBottom, Bottom },
  data() {
    return { app: "" };
  },
  watch: {},
  created() {},
  mounted() {
    let dom = document.getElementById("cesiumHome");
    this.app = new initThree(dom, {});
  },
  methods: {
    init() {},
  },
  beforeDestroy() {
    // cesiumHome.destroy();
  },
};
</script>

<style lang="scss">
.popup_contents {
  width: 100%;
  height: 100%;
  position: relative;
  .headers {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #cesiumHome {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    // background-image: url("../../assets/bg.jpg");
    background-position: center center;
    overflow: hidden;
    background-size: cover;
  }
  .popup_left {
    height: calc(100% - 115px);
    width: 371px;
    position: absolute;
    top: 80px;
    left: 20px;
    z-index: 1;
  }
  .popup_center {
    height: 60px;
    width: calc(100% - 880px);
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  .popup_right {
    height: calc(100% - 115px);
    width: 371px;
    position: absolute;
    top: 80px;
    right: 20px;
    z-index: 1;
  }
  .titleBottom {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-45%);
    z-index: 1;
  }
  .bottom_bg_box {
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 1;
  }
}
</style>
