<template>
  <div class="title_bottom">
    <div class="item">
      <img src="@/assets/v2/line.png" alt="" />
      <div>
        <p class="item_title">全部船舶</p>
        <p class="count">{{ this.allShip }}</p>
        <p>艘</p>
      </div>
    </div>
    <div class="item">
      <img src="@/assets/v2/line.png" alt="" />
      <div>
        <p class="item_title">在线船舶</p>
        <p class="count">{{ this.onlineShip }}</p>
        <p>艘</p>
      </div>
    </div>
    <div class="item">
      <img src="@/assets/v2/line.png" alt="" />
      <div>
        <p class="item_title">离线船舶</p>
        <p class="count">{{ this.offShip }}</p>
        <p>艘</p>
      </div>
    </div>
    <div class="statistics">
      <div>
        <p>离线0-7天</p>
        <div class="cotainer">
          <div
            class="content"
            :style="{ width: (this.offline1 / this.offShip) * 100 + '%' }"
          ></div>
        </div>
        <span class="num">{{ this.offline1 }}</span>
      </div>
      <div>
        <p>离线8-30天</p>
        <div class="cotainer">
          <div
            class="content"
            :style="{ width: (this.offline2 / this.offShip) * 100 + '%' }"
          ></div>
        </div>
        <span class="num">{{ this.offline2 }}</span>
      </div>
      <div>
        <p>离线30天以上</p>
        <div class="cotainer">
          <div
            class="content"
            :style="{ width: (this.offline3 / this.offShip) * 100 + '%' }"
          ></div>
        </div>
        <span class="num">{{ this.offline3 }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {},
  components: {},
  computed: {},
  data() {
    return {
      allShip: 9517,
      onlineShip: 7889,
      offShip: 1628,
      offline1: 1043,
      offline2: 77,
      offline3: 333,
    };
  },
  created() {},
  mounted() {},
  watch: {},
  methods: {},
};
</script>

<style lang="scss" scoped>
.title_bottom {
  width: 100%;
  display: flex;
  .item {
    display: flex;
    margin-right: 30px;
    margin-top: 10px;
    img {
      width: 1px;
      height: 58px;
      margin-right: 10px;
    }
    p:nth-child(3) {
      font-size: 12px;
      color: #ccc;
    }
    .item_title {
      font-size: 14px;
      color: #2696ff;
      box-shadow: 2px -2px 15px 3px rgba(190, 219, 247, 0.35);
    }
    .count {
      font-size: 20px;
      font-weight: bold;
    }
  }
  .statistics {
    width: 170px;
    .cotainer {
      position: relative;
      display: inline-block;
      width: 100px;
      height: 8px;
      top: -8px;
      background-color: gray;
    }
    .content {
      position: absolute;
      width: 30px;
      height: 8px;
      background-image: linear-gradient(rgb(38, 84, 134), rgb(39, 148, 251));
    }
    .num {
      margin-left: 40px;
      font-size: 12px;
      position: relative;
      top: -8px;
    }
    p {
      font-size: 12px;
    }
  }
}
</style>
