<template>
  <div class="warp">
    <div class="center_bottom">
      <div
        :class="
          btnMouse == i || btnClick == i ? 'bot_btn bon_btnbj' : 'bot_btn'
        "
        v-for="(item, i) in btnNamedata"
        :key="i"
        @mouseover="btnMouseover(i)"
        @click="btnClicks(i)"
        @mouseout="btnMouseout()"
      >
        <div class="btn_warp">
          <img v-if="i == 0" src="~@/assets/v2/气象站.png" alt="" />
          <img v-if="i == 1" src="~@/assets/v2/电子围栏1.png" alt="" />
          <img v-if="i == 2" src="~@/assets/v2/地点.png" alt="" />
          <img v-if="i == 3" src="~@/assets/v2/火灾报警.png" alt="" />
          <img v-if="i == 4" src="~@/assets/v2/重点区域1.png" alt="" />
          <span>{{ item }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      btnMouse: 10,
      btnClick: 10,
      btnNamedata: ["气象信息", "电子围栏", "船舶位置", "报警信息", "重点区域"],
    };
  },
  methods: {
    btnMouseover(val) {
      this.btnMouse = val;
    },
    btnClicks(val) {
      this.btnClick = val;
    },
    btnMouseout() {
      this.btnMouse = 10;
    },
  },
};
</script>

<style scoped lang="scss">
.warp {
  .center_bottom {
    display: flex;
    justify-content: space-between;
    .bot_btn {
      width: 200px;
      height: 53px;
      background: url("~@/assets/v2/底部按钮未选中.png") no-repeat;
      background-size: 100% 100%;
      position: relative;
      cursor: pointer;
      .btn_warp {
        margin-left: 40px;
        line-height: 42px;
        img {
          vertical-align: middle;
          height: 20px;
          width: 20px;
        }
        span {
          margin-left: 10px;
          vertical-align: middle;
          font-size: 16px;
        }
      }
    }
    .bon_btnbj {
      background: url("~@/assets/v2/底部按钮选中.png") no-repeat;
      background-size: 100% 100%;
    }
  }
}
</style>