<template>
  <div class="popup_contents">
    <div class="headerss"><headers /></div>
    <div id="cesiumHome"></div>
    <!-- <canvas width="960" height="600"></canvas> -->
    <div class="popup_lefts"><shipsLeft /></div>
    <div class="popup_rights"><shipsRight /></div>
    <div class="bottom_bg_box"><bottoms /></div>
  </div>
</template>
<script>
import shipsLeft from "./shipsLeft/index.vue";
import shipsRight from "./shipsRight/index.vue";
import * as THREE from "three";
import initThree from "../popup/initThree";
export default {
  name: "cesiumHome",
  props: {},
  components: { shipsLeft, shipsRight },
  data() {
    return { app: "" };
  },
  watch: {},
  created() {},
  mounted() {
    let dom = document.getElementById("cesiumHome");
    this.app = new initThree(dom, {});
  },
  methods: {
    init() {},
  },
  beforeDestroy() {
    // cesiumHome.destroy();
  },
};
</script>

<style lang="scss">
.popup_contents {
  width: 100%;
  height: 100%;
  position: relative;
  .headerss {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #cesiumHome {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../assets/bg.jpg");
    background-position: center center;
    overflow: hidden;
    background-size: cover;
  }
  .popup_lefts {
    height: calc(100% - 100px);
    width: 371px;
    position: absolute;
    top: 80px;
    left: 20px;
    z-index: 1;
  }
  .popup_rights {
    height: calc(100% - 100px);
    width: 371px;
    position: absolute;
    top: 80px;
    right: 20px;
    z-index: 1;
  }
  .bottom_bg_box {
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 1;
  }
}
</style>
