.box_title {
    font-weight: 700;
    font-size: 20px;
    margin: 10px 0 0 10px;
    letter-spacing: 1px;
}

.box_titleC {
    font-weight: 700;
    font-size: 18px;
    color: #0FE2F0;
    letter-spacing: 1px;
    span {
        font-size: 16px;
    }
}