html,
body {
  height: 100%;
  width: 100%;
  color: #fff;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  outline-style: none;
  /*FF*/
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline-style: none;
  /*FF*/
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  vertical-align: middle;
}


/*css为clearfix，清除浮动*/

.clearfix::after {
  content: '';
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

div {
  box-sizing: border-box;
}

.ceshi {
  width: 300px;
  height: 200px;
  background: red;
  position: absolute;
}

.popupClose {
  position: absolute;
  top: -26px;
  right: 4px;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
}

.xuetiaoClass {
  padding: 2px 3px;
  border-radius: 2px;
  position: relative;
  width: 108px;
  border: 1px solid #a7a3a3;
  background: #000;
}

.xueZZ {
  position: absolute;
  right: 0;
  top: 2px;
  background: #282828;
  height: 12px;
}

.xuetiao {}

//提示弹窗
.el-notification {
  display: flex;
  color: #fff;
  width: 280px;
  padding: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  border: none;
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  transition: opacity .3s, transform .3s, left .3s, right .3s, top 0.4s, bottom .3s;
  overflow: hidden;
}

.el-notification__group {
  margin-left: 0px;
  width: 100%;
  margin-right: 0px;
}

.el-notification__title {
  height: 27px;
  // background-image: url('../assets/tit.png');
  background-size: 100% 100%;
  padding: 0 30px;
  line-height: 27px;
  letter-spacing: 2px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

.el-notification__closeBtn {
  top: 6px;
  color: #fcfdff;
}

.el-notification__content {
  font-size: 13px;
  line-height: 21px;
  margin: 6px 0 0 0;
  color: #dedede;
  text-align: justify;
  padding: 10px;
}

.poTkClass {
  background: rgba(0, 0, 0, .4);
  border: 1px solid #fff;
  padding: 0px 15px 10px 15px;
  div {
    margin-top: 10px;
    letter-spacing: 1px;
  }
}

.box2 {
  color: #fff;
  // pointer-events: none !important;
  background-color: rgba(0, 127, 127, 0.447);
  box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
  border: 1px solid rgba(127, 255, 255, 0.25);
}

.box2 .ys-con {
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}

.WFzhendi {
  color: #fff;
  // pointer-events: none !important;
  background-color: rgba(224, 53, 31, 0.447);
  box-shadow: 0px 0px 12px rgba(219, 58, 44, 0.5);
  border: 1px solid rgba(235, 23, 8, 0.25);
}

.WFzhendi .ys-con {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 10px rgba(255, 51, 0, 0.95);
}

.DFzhendi {
  color: #fff;
  // pointer-events: none !important;
  background-color: rgba(31, 76, 224, 0.447);
  box-shadow: 0px 0px 12px rgba(31, 95, 231, 0.5);
  border: 1px solid rgba(8, 12, 235, 0.25);
}

.DFzhendi .ys-con {
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 10px rgba(8, 66, 226, 0.95);
}

.WFfont {
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 10px rgba(255, 51, 0, 0.95);
}

.DFfont {
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 10px rgba(8, 66, 226, 0.95);
}
// 蓝方区域
.lanQYFont{
  
}
.pointerNone {
  pointer-events: none !important;
}

#fxtjechart {
  padding-top: 15px;
  width: 100%;
  height: 100%;
}

.blockslider {
  .el-slider.is-vertical .el-slider__runway {
    width: 2px;
    height: 100%;
    margin: 0 16px;
    box-shadow: 0px 0px 13px 1px #fff;
  }
  .el-slider.is-vertical .el-slider__bar {
    width: 2px;
    height: auto;
    border-radius: 0 0 3px 3px;
  }
  .el-slider__button {
    width: 12px;
    height: 12px;
    background-color: rgba(55, 206, 255, 0.98);
    box-shadow: 0px 0px 6px 0px rgba(29, 77, 255, 0.67), 0px 0px 9px 0px rgba(29, 119, 255, 0.98);
    border-radius: 50%;
    transition: .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .el-slider.is-vertical .el-slider__button-wrapper {
    top: auto;
    left: -17px;
    transform: translateY(51%);
  }
}

.checkboxGroup {
  margin-left: 10px;
  .el-checkbox {
    margin-top: 5px;
  }
  .el-checkbox__label {
    color: #fff443;
  }
}



// 战损评估弹窗
.el-dialog__wrapper.diaZSPG{
  height: 100%;
  font-family: cursive;
  .el-dialog{
    margin-top: 0!important;
    margin: 0;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    .el-dialog__header{
      padding: 0;
      .el-dialog__headerbtn{
        font-size: 0;
      }
    }
    .el-dialog__body{
      height: 100%;
      padding: 0;
      color: #fff;
    }
  }
}


/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width:3px;
  }
  /* 滚动槽 */
  ::-webkit-scrollbar-track {
  -webkit-box-shadow:inset006pxrgba(0,0,0,0.3);
  border-radius:10px;
  }
  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
  border-radius:10px;
  background:rgba(0,0,0,0.1);
  -webkit-box-shadow:inset006pxrgba(0,0,0,0.5);
  }
  ::-webkit-scrollbar-thumb:window-inactive {
  background:rgba(19, 33, 71, 0.712);
  }