<template>
  <div class="bottom_bg"></div>
</template>

<script>
export default {
  props: {},
  components: {},
  computed: {},
  data() {
    return {};
  },
  created() {},
  mounted() {},
  watch: {},
  methods: {},
};
</script>

<style lang="scss" scoped>
.bottom_bg {
  width: 1900px;
  height: 17px;
  background: url("~@/assets/v2/bg.png") no-repeat;
  background-size: 100% 100%;
}
</style>
