<template>
  <div class="headers_contents">
    <div class="headers_title"></div>
    <div class="headers_date">
      <span>{{ dateData | dateFilter }}</span>
      <span>{{ dateData | getWeek }}</span>
    </div>
    <div class="header_icon">
      <div
        v-for="i of 6"
        :key="i"
        :class="currentIndex == i ? 'active' : ''"
      ></div>
    </div>
    <div class="header_icon other">
      <div
        v-for="i of 6"
        :key="i"
        :class="currentIndex == i ? 'active' : ''"
      ></div>
    </div>
    <div class="header_state">
      <span @click="changeState('2D')" :class="state == '2D' ? 'active' : ''"
        >2D</span
      >
      <span>/</span>
      <span @click="changeState('3D')" :class="state == '3D' ? 'active' : ''"
        >3D</span
      >
    </div>
  </div>
</template>

<script>
export default {
  props: {},
  components: {},
  computed: {},
  data() {
    return {
      // 时间
      dateData: null,
      state: "2D",
      currentIndex: 1,
    };
  },
  created() {},
  mounted() {
    this.init();
    this.changeImg();
  },
  watch: {},
  methods: {
    init() {
      setInterval(() => {
        this.dateData = new Date().getTime();
      }, 1000);
    },
    changeImg() {
      setInterval(() => {
        if (this.currentIndex < 6) {
          this.currentIndex += 1;
        } else this.currentIndex = 1;
      }, 600);
    },
    changeState(state) {
      this.state = state;
    },
  },
};
</script>

<style lang="scss" scoped>
.headers_contents {
  position: relative;
  width: 100%;
  height: 100px;
  div {
    flex: 1;
  }
  .headers_title {
    background: url("~@/assets/v2/headerTitle.png");
    background-size: 100% 100%;
    width: 100%;
    height: 99px;
  }
  .headers_date {
    position: absolute;
    left: 10px;
    top: 10px;
    span {
      font-size: 18px;
      font-weight: 600;
      color: #ffffff;
    }
    span:nth-child(2) {
      margin: 0 30px;
    }
    .cut {
      display: inline-block;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background: #0bc0c4;
      text-align: center;
      line-height: 35px;
      cursor: pointer;
    }
  }
  .header_icon {
    position: absolute;
    top: 14px;
    left: 300px;
    display: flex;
    &.other {
      left: 1690px;
    }
    div {
      background: url("~@/assets/v2/imgIcon.png");
      width: 16px;
      height: 16px;
      margin-left: 4px;
      &.active {
        background: url("~@/assets/v2/imgIcon2.png");
      }
    }
  }
  .header_state {
    position: absolute;
    right: 34px;
    top: 12px;
    span {
      cursor: pointer;
      font-size: 14px;
    }
    .active {
      color: rgb(101, 189, 255);
      font-size: 18px;
    }
  }
}
</style>
