<template>
  <div class="left_v2_contents_ships">
    <div class="box af_boxwarp">
      <div class="box_v2_title">
        <img src="~@/assets/v2/报警信息.png" alt="" />
        环境信息
      </div>
      <div class="af_six">
        <div v-for="(item, i) in alarmInforData" :key="i" class="af_sixWarp">
          <!-- @mouseover="afsixMouseover(i)"
          @click="afsixClick(i)"
          @mouseout="afsixMouseout()" -->
          <div class="af_warp">
            <div class="af_sixImg">
              <img v-if="i == 0" src="~@/assets/v2/ships/大气压.png" alt="" />
              <img v-if="i == 1" src="~@/assets/v2/ships/风速.png" alt="" />
              <img v-if="i == 2" src="~@/assets/v2/ships/降雨量.png" alt="" />
              <img v-if="i == 3" src="~@/assets/v2/ships/海洋流速.png" alt="" />
              <img v-if="i == 4" src="~@/assets/v2/ships/能见度.png" alt="" />
            </div>
            <div class="af_sixSize">
              <p v-if="i == 0">{{ item.value }}<span>hpa</span></p>
              <p v-if="i == 1">{{ item.value }}<span>km/h</span></p>
              <p v-if="i == 2">{{ item.value }}<span></span></p>
              <p v-if="i == 3">
                {{ item.value }}<span>m<span class="spm">3</span></span
                ><span>/s</span>
              </p>
              <p v-if="i == 4">{{ item.value }}<span>km</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="topbtn_box_warp">
        <div class="topbtn_box">
          <img
            src="~@/assets/v2/ships/晴.png"
            alt=""
            class="topbtn_box_item"
            v-show="selectActive != 2"
            @click="selectBtn(2)"
          />
          <img
            src="~@/assets/v2/ships/晴选中.png"
            alt=""
            class="topbtn_box_item"
            v-show="selectActive == 2"
          />
          <img
            src="~@/assets/v2/风未选中.png"
            alt=""
            class="topbtn_box_item"
            v-show="selectActive != 4"
            @click="selectBtn(4)"
          />
          <img
            src="~@/assets/v2/风选中.png"
            alt=""
            class="topbtn_box_item"
            v-show="selectActive == 4"
          />
          <img
            src="~@/assets/v2/ships/雨未选中.png"
            alt=""
            class="topbtn_box_item"
            v-show="selectActive != 5"
            @click="selectBtn(5)"
          />
          <img
            src="~@/assets/v2/ships/雨选中.png"
            alt=""
            class="topbtn_box_item"
            v-show="selectActive == 5"
          />
          <img
            src="~@/assets/v2/ships/雪未选中.png"
            alt=""
            class="topbtn_box_item"
            v-show="selectActive != 3"
            @click="selectBtn(3)"
          />
          <img
            src="~@/assets/v2/ships/雪.png"
            alt=""
            class="topbtn_box_item"
            v-show="selectActive == 3"
          />
          <img
            src="~@/assets/v2/雾未选中.png"
            alt=""
            class="topbtn_box_item"
            v-show="selectActive != 6"
            @click="selectBtn(6)"
          />
          <img
            src="~@/assets/v2/雾选中.png"
            alt=""
            class="topbtn_box_item"
            v-show="selectActive == 6"
          />
        </div>
      </div>
      <div class="box_v2_bottom"></div>
    </div>
    <!-- 第二图 -->
    <div class="box_bjxx">
      <div class="box_v2_title">
        <img src="~@/assets/v2/ships/报警信息.png" alt="" />
        报警信息
      </div>
      <div class="af_all">
        <div class="af_bjzl">
          <p>
            <span>{{ alarmInforAll.toLocaleString() }}次</span>
          </p>
        </div>
      </div>
      <div class="echart_bjcs">
        <div id="echart_tu"></div>
      </div>
      <div class="box_v2_bottom"></div>
    </div>
    <!-- 第三图 -->
    <div class="box">
      <div class="box_v2_title">
        <img src="~@/assets/v2/ships/历史停靠.png" alt="" />
        历史停靠
      </div>
      <div class="box_v2_center">
        <div class="box_v2_center_title">
          <!-- <div class="index">港口</div>
          <div class="index">到港时间</div>
          <div class="index">离港时间</div> -->
          <div class="index">
            <span class="sp1">港口</span>
            <span class="sp2">到港时间</span>
            <span class="sp3">离港时间</span>
          </div>
        </div>
        <div class="scroll_sty_">
          <vue-seamless-scroll :data="bottomData" :class-option="bottomOption">
            <div
              v-for="(item, i) in bottomData"
              :key="i"
              class="box_v2_item"
              :class="i % 2 == 0 ? 'box_v2_itemC' : ''"
            >
              <div class="index titleC">
                <span>{{ item.name }}</span>
                <span class="sp2">{{ item.lon }}</span>
                <span>{{ item.lng }}</span>
              </div>
              <!-- <div class="indexs">{{ item.lon }}</div>
              <div class="indexs">{{ item.lng }}</div> -->
            </div>
          </vue-seamless-scroll>
        </div>
      </div>
      <div class="box_v2_bottom"></div>
    </div>
  </div>
</template>

<script>
import vueSeamlessScroll from "vue-seamless-scroll";
import { loopShowTooltip } from "../../../utils/tooltip-auto-show-vue.js";
export default {
  props: {},
  components: { vueSeamlessScroll },
  computed: {},
  data() {
    return {
      // tootipTimer: "",
      // afMouse: 10,
      // afClick: 10,
      // zdqyMore: false,
      alarmInforData: [
        {
          name: "大气压",
          value: 1009.3,
        },
        {
          name: "风速",
          value: 12,
        },
        {
          name: "降雨量",
          value: "----",
        },
        {
          name: "海洋流速",
          value: 150,
        },
        {
          name: "海面能见度",
          value: "10~20",
        },
        {},
      ],
      alarmInforAll: 1311,
      // 天气选中按钮
      selectActive: 1,
      bottomData: [
        {
          name: "珠海",
          lon: "2022/03/06 06:11:34",
          lng: "2022/03/07 06:11:17",
        },
        {
          name: "广州",
          lon: "2022/03/09 11:10:21",
          lng: "2022/03/10 13:10:20",
        },
        {
          name: "珠海",
          lon: "2022/03/12 09:31:74",
          lng: "2022/03/13 18:31:74",
        },
        {
          name: "广州",
          lon: "2022/04/03 11:30:25",
          lng: "2022/04/05 10:30:45",
        },
        {
          name: "珠海",
          lon: "2022/04/09 23:41:22",
          lng: "2022/04/07 22:41:65",
        },
        {
          name: "广州",
          lon: "2022/04/16 19:12:34",
          lng: "2022/04/17 11:12:47",
        },
      ],
      // 船舶最新位置信息滚动配置
      bottomOption: {
        step: 1, // 数值越大速度滚动越快
        limitMoveNum: 1, // 开始无缝滚动的数据量 this.dataList.length
        hoverStop: true, // 是否开启鼠标悬停stop
        direction: 1, // 0向下 1向上 2向左 3向右
        openWatch: true, // 开启数据实时监控刷新dom
        singleHeight: 40, // 单步运动停止的高度(默认值0是无缝不停止的滚动) direction => 0/1
        singleWidth: 0, // 单步运动停止的宽度(默认值0是无缝不停止的滚动) direction => 2/3
        waitTime: 0, // 停顿时间
      },
    };
  },
  created() {},
  mounted() {
    this.init();
  },
  watch: {},
  methods: {
    // 加载echarts图
    init() {
      this.broken();
    },
    // afsixMouseover(val) {
    //   this.afMouse = val;
    // },
    // afsixClick(val) {
    //   this.afClick = val;
    // },
    // afsixMouseout() {
    //   this.afMouse = 10;
    // },
    // zdqyMoreMouse() {
    //   this.zdqyMore = true;
    // },
    // zdqyMoreout() {
    //   this.zdqyMore = false;
    // },
    selectBtn(data) {
      this.selectActive = data;
    },
    broken() {
      let myChart = this.$echarts.init(document.getElementById("echart_tu"));
      let xData = [
        "00:00",
        "01:00",
        "02:00",
        "03:00",
        "04:00",
        "05:00",
        "06:00",
        "07:00",
        "08:00",
        "09:00",
        "10:00",
        "11:00",
        "12:00",
        "13:00",
        "14:00",
        "15:00",
        "16:00",
        "17:00",
        "18:00",
        "19:00",
        "20:00",
        "21:00",
        "22:00",
        "23:00",
      ];
      let dataCar = [
        20, 10, 35, 35, 70, 60, 15, 80, 90, 60, 80, 90, 25, 30, 45, 55, 30, 40,
        65, 30, 80, 10, 90, 100,
      ];
      let option = {
        backgroundColor: "transparent",
        title: {
          text: "单位：次",
          textStyle: {
            color: "#fff",
            fontSize: 12,
          },
          right: "10%",
        },
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "shadow",
            textStyle: {
              color: "#fff",
            },
          },
          // axisPointer: {
          //   lineStyle: {
          //     color: "#00ffff",
          //   },
          // },
        },
        grid: {
          borderWidth: 0,
          top: 40,
          bottom: 30,
          textStyle: {
            color: "#fff",
          },
        },
        calculable: true,
        xAxis: {
          type: "category",
          boundaryGap: false,
          data: xData,
          nameTextStyle: {
            color: "#59B4DF",
            fontSize: 12,
          },
          axisLabel: {
            color: "#fff", //x轴文字颜色
            fontSize: 10,
            interval: 0,
            rotate: 30,
          },
          axisLine: {
            //x轴轴线
            lineStyle: {
              color: "#59B4DF",
              width: 2,
            },
          },
          axisTick: {
            //刻度线
            show: false,
          },
          splitLine: {
            //网格线
            show: false,
            // lineStyle: {
            //   color: "#fff",
            //   width: 1,
            // },
          },
        },
        yAxis: {
          type: "value",
          nameTextStyle: {
            color: "#59B4DF",
            fontSize: 14,
          },
          axisLabel: {
            normal: {
              color: "#59B4DF",
              fontSize: 14,
            },
          },
          axisLine: {
            //x轴轴线
            lineStyle: {
              color: "#fff",
              width: 0,
            },
          },
          splitLine: {
            //分割线
            show: false,
          },
          axisTick: {
            show: false,
          },
          splitLine: {
            //网格线
            show: true,
            lineStyle: {
              color: "rgba(255,255,255,.3)",
              width: 1,
            },
          },
        },
        dataZoom: [
          {
            type: "slider",
            show: false,
            realtime: true,
            startValue: 0,
            endValue: 24,
          },
        ],
        series: [
          {
            name: "",
            type: "bar",
            smooth: true,
            barWidth: 10,
            symbol: "none",
            barWidth: 10, //柱图宽度
            itemStyle: {
              normal: {
                show: true,
                color: "rgba(255,255,255,.4)", //边的颜色
              },
            },
            lineStyle: {
              normal: {
                color: "#bedbf7", // 线条颜色
              },
            },
            areaStyle: {
              normal: {
                color: this.$echarts.graphic.LinearGradient(
                  0,
                  0,
                  0,
                  1,
                  [
                    {
                      offset: 0,
                      color: "rgba(58,132,255,0)",
                    },
                    {
                      offset: 0.8,
                      color: "rgba(58,132,255,0.35)",
                    },
                  ],
                  false
                ),
                shadowColor: "rgba(0, 0, 0, 0.1)",
                shadowBlur: 10,
              },
            },
            // markPoint: {
            //   data: [
            //     {
            //       type: "max",
            //       name: "最大值",
            //       symbolSize: 50,
            //       itemStyle: {
            //         normal: {
            //           color: "#6699ff",
            //         },
            //       },
            //       label: {
            //         normal: {
            //           show: true,
            //           color: "#fff",
            //         },
            //       },
            //     },
            //     {
            //       type: "min",
            //       name: "最大值",
            //       symbolSize: 50,
            //       itemStyle: {
            //         normal: {
            //           color: "#0bc0c4",
            //         },
            //       },
            //       label: {
            //         normal: {
            //           show: true,
            //           color: "#fff",
            //         },
            //       },
            //     },
            //   ],
            // },
            data: dataCar,
          },
        ],
      };
      let a = 1;
      setInterval(function () {
        if (a == xData.length - 12) {
          a = 0;
        }
        myChart.dispatchAction({
          type: "dataZoom",
          startValue: a,
          endValue: a + 12,
        });
        a++;
      }, 2000);
      myChart.setOption(option, true);
      // this.tootipTimer && this.tootipTimer.clearLoop(); // this.tootipTimer 在data里定义
      // this.tootipTimer = 0;
      // // 调用轮播的方法
      // this.tootipTimer = loopShowTooltip(myChart, option, {
      //   interval: 1000, // 轮播间隔时间
      //   loopSeries: true, // 是否开启轮播循环
      // });
    },
  },
};
</script>

<style lang="scss" scoped>
.left_v2_contents_ships {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  .box_bjxx {
    width: 371px;
    height: 311px;
    background-color: rgba(13, 41, 68, 0.5);
    position: relative;
    // top: -20px;
    .box_v2_title {
      width: 371px;
      height: 48px;
      background: url("~@/assets/v2/标题.png") no-repeat;
      background-size: 100% 100%;
      display: flex;
      align-items: center;
      font-size: 20px;
      letter-spacing: 2px;
      color: #fff;
      img {
        width: 24px;
        height: 24px;
        margin: 0 12px;
      }
      .num_style {
        width: 64px;
        height: 21px;
        margin: 2px 0 0 10px;
        background: url("~@/assets/v2/当前数量.png") no-repeat;
        background-size: 100% 100%;
        font-size: 14px;
        color: #4dccfd;
        letter-spacing: 0;
      }
    }
    .box_v2_bottom {
      width: 394px;
      height: 44px;
      background: url("~@/assets/v2/框底部.png") no-repeat;
      background-size: 100% 100%;
      position: absolute;
      bottom: -21px;
      left: -11px;
      z-index: -1;
    }
    .af_all {
      width: 342px;
      height: 65px;
      margin: 10px 0 0px 20px;
      background: url("~@/assets/v2/ships/报警次数.png") no-repeat;
      background-size: 100% 100%;
      .af_bjzl {
        font-size: 18px;
        font-style: italic;
        p {
          line-height: 79px;
          margin-left: 100px;
          span {
            color: #4dccfd;
            font-size: 24px;
            margin-left: 115px;
          }
        }
      }
    }
    .echart_bjcs {
      height: 161px;
      #echart_tu {
        margin: 0 10px;
        width: 380px;
        height: 161px;
      }
    }
  }
  .box {
    width: 371px;
    height: 256px;
    background-color: rgba(13, 41, 68, 0.5);
    position: relative;
    // top: -20px;
    .box_v2_title {
      width: 371px;
      height: 48px;
      background: url("~@/assets/v2/标题.png") no-repeat;
      background-size: 100% 100%;
      display: flex;
      align-items: center;
      font-size: 20px;
      letter-spacing: 2px;
      color: #fff;
      img {
        width: 24px;
        height: 24px;
        margin: 0 12px;
      }
      .num_style {
        width: 64px;
        height: 21px;
        margin: 2px 0 0 10px;
        background: url("~@/assets/v2/当前数量.png") no-repeat;
        background-size: 100% 100%;
        font-size: 14px;
        color: #4dccfd;
        letter-spacing: 0;
      }
    }
    .box_v2_center {
      height: 100%;
      padding: 0 12px;
      .box_v2_center_title {
        width: 346px;
        height: 29px;
        background: url("~@/assets/v2/表头背景.png") no-repeat;
        background-size: 100% 100%;
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        font-size: 14px;
        .index {
          height: 100%;
          span {
            line-height: 29px;
          }
          .sp1 {
            margin-left: 15px;
          }
          .sp2 {
            margin-left: 50px;
          }
          .sp3 {
            margin-left: 90px;
          }
          // flex: 4;
          // text-align: center;
        }
        .title {
          flex: 5;
          padding-left: 50px;
        }
      }
      .scroll_sty_ {
        height: calc(100% - 88px);
        overflow: auto;
        font-size: 14px;
        &::-webkit-scrollbar {
          display: none;
        }
        .box_v2_item {
          width: 346px;
          height: 28px;
          background-image: linear-gradient(
            90deg,
            rgba(38, 150, 255, 0.4) 0%,
            rgba(38, 150, 255, 0.1) 100%
          );
          .index {
            height: 28px;
            font-size: 14px;
            // flex: 4;
            text-align: center;
            span {
              line-height: 28px;
              margin: 5px;
            }
            .sp2 {
              color: #fff;
            }
          }
          .titleC {
            font-size: 14px;
            color: #bedbf7;
          }
        }
        .box_v2_itemC {
          background: none;
        }
      }
      .detail_box {
        height: calc(100% - 41px);
        overflow-y: auto;
        overflow-x: hidden;
        .box_v2_item {
          width: 346px;
          height: 28px;
          background-image: linear-gradient(
            90deg,
            rgba(38, 150, 255, 0.3) 0%,
            rgba(38, 150, 255, 0.1) 100%
          );
          display: flex;
          justify-content: space-between;
          align-items: center;
          .index {
            font-size: 14px;
            flex: 4;
            text-align: center;
          }
          .title {
            flex: 5;
            padding-left: 50px;
          }
          .titleC {
            font-size: 14px;
            color: #bedbf7;
          }
        }
        .box_v2_itemC {
          background: none;
        }
      }
    }
    .box_v2_bottom {
      width: 394px;
      height: 44px;
      background: url("~@/assets/v2/框底部.png") no-repeat;
      background-size: 100% 100%;
      position: absolute;
      bottom: -21px;
      left: -11px;
      z-index: -1;
    }
    .af_six {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .af_sixWarp {
        width: 185px;
        height: 81px;
        padding: 5px 0 0 15px;
        cursor: pointer;
        .af_warp {
          padding-top: 5px;
          width: 166px;
          height: 77px;
          .af_sixImg {
            img {
              width: 166px;
              height: 22px;
            }
          }
          .af_sixSize {
            font-size: 20px;
            p {
              text-align: center;
              line-height: 30px;
              span {
                font-size: 14px;
              }
              .spm {
                font-size: 12px;
                display: inline-block;
                transform: scale(0.8);
                transform: translateY(-3px);
              }
            }
          }
        }
      }
      .af_xzbj {
        background: url("~@/assets/v2/报警选中.png") no-repeat;
        background-size: 100% 100%;
      }
    }
    .topbtn_box_warp {
      width: 371px;
      padding: 0 10px;
      .topbtn_box {
        width: 100%;
        margin: 10px 0px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .topbtn_box_item {
          width: 66px;
          height: 26px;
          cursor: pointer;
        }
      }
    }
  }
  .af_boxwarp {
    height: 349px;
    // position: relative;
    // top: -20px;
  }
}
</style>
