<template>
  <div id="cesiumHome"></div>
</template>
<script>
//点击类
let cesiumHome = null;
let clickClass = null;
import cesiumEntity from "./home";
import ycdata from "./data";
export default {
  name: "cesiumHome",
  props: {},
  components: {},
  computed: {},
  data() {
    return {};
  },
  watch: {},
  created() {},
  mounted() {
    cesiumHome = new cesiumEntity("cesiumHome");
    this.ycShow();
    this.tqShow();
    setTimeout(() => {
      this.kqfc();
      // setTimeout(() => {
      //   this.gbfc();
      //   setTimeout(() => {
      //     this.kqfc();
      //   }, 2000);
      // }, 2000);
    }, 2000);
    // },5000)

DC.ready(() => {
   viewer = new DC.Viewer('viewer-container')
})
  },
  methods: {
    init() {
      console.log(1);
    },
    //开启风场
    kqfc() {
      cesiumHome.cameraFlying({
        lon: 124.217583,
        lat: 32.812621,
        h: 9072972.61,
        duration: 1,
        heading: 6.278646678655514,
        roll: 0,
        pitch: -1.5419495349312435,
      });
      setTimeout(() => {
        fcIsShow = true;
        fcArr.forEach((val) => {
          val.show = true;
        });
        wind3DClass.updateViewerParameters();
      }, 1100);
    },
    //关闭风场
    gbfc() {
      fcIsShow = false;
      fcArr.forEach((val) => {
        val.show = false;
      });
    },
    //yc显示
    ycShow() {
      cesiumHome.DeleteEns();
      ycdata.yc.forEach((val) => {
        let a = cesiumHome.createYC({
          lo: val,
          color: "GREEN",
        });
      });
    },
    //天气
    tqShow() {
      cesiumHome.DeleteEns();
      ycdata.tq.forEach((val) => {
        let a = cesiumHome.createTB(val);
      });
    },
    //报警船舶
    bjShow() {
      cesiumHome.DeleteEns();
      ycdata.bjyc.forEach((val) => {
        let a = cesiumHome.createYC({
          lo: val,
          color: "RED",
        });
      });
    },
    //执法船舶
    zfShow() {
      cesiumHome.DeleteEns();
      ycdata.zfyc.forEach((val) => {
        let a = cesiumHome.createTB({
          img: "./assets/zf.png",
          lo: val,
          scale: 0.06,
        });
      });
    },
    //救援渔船
    jyShow() {
      cesiumHome.DeleteEns();
      ycdata.jyyc.forEach((val) => {
        let a = cesiumHome.createTB({
          img: "./assets/jy.png",
          lo: val,
          scale: 0.1,
        });
      });
    },
  },
  beforeDestroy() {
    cesiumHome.destroy();
  },
};
</script>

<style lang="scss">
#cesiumHome {
  width: 100%;
  height: 100%;
  position: relative;
}
.cesiumHome_btn {
  position: absolute;
  z-index: 2;
}
</style>
