<template>
  <div id="app" >
    <router-view />
  </div>
</template>
<script>
export default {
  components: {},
  computed: {

  },
   data() {
    return {

    };
  },
  created() {
  },
  mounted() {},
  watch: {

  },
  methods: {},
};
</script>

<style lang="scss">
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: '微软雅黑 Bold', '微软雅黑', sans-serif;
}
</style>
